
.center {
  background-color: #0AA90F;
  text-align: center;
  font-size: 40px;
  font-family: cursive;
  font-weight: bold
}

.right {
  text-align: right;
}

.market-card {
  background-color: #0AA90F;
  display: flex;
  flex-direction: column;
  color: 0AA90F;
  font-size: small;
  font-family: cursive;
  border-style: solid;
  border-color: black;
  border-width: medium;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.detail-card {
  background-color: #0AA90F;
  border-style: solid;
  border-color: black;
  border-width: medium;
  font-family: cursive;
}


.App-link {
  color: #09d3ac;
}
